li{list-style: none;}
a{text-decoration: none;
color: red;}
a:hover{color:black}
header{position:relative;
padding: 0.2rem;}
.navbar{width: 100%;
height: 60px;
max-width: 1220px;
margin: 0 auto;
display: flex;
align-items: center;
justify-content:space-between ;


}
.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
.navbar .toggle_btn{
    color: black;
    font-size:1.5rem;
    cursor: pointer;
    display: none;
}
.action-btn{
    background-color: orange;
    color: white;
    border: none;
    outline: none;
    border-radius: 0.8rem;
    font-weight: bold;
    font-size: 0.8rem;
    cursor: pointer;
}


.action-btn:hover{
    scale: 1.05;
    color:white ;
}

.action-btn:active{
    scale: 0.95;
}

.dropdown_menu{display: none;
        flex-direction: column;
        justify-content: space-between;
    
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0px;
    width: 300px;
    background-color: rgba(255, 255, 355, 0.1);
    backdrop-filter:blur(15px) ;
    border-radius: 10px;
    overflow: hidden;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.dropdown_menu.open{
    height: 240px;
}



.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropdown_menu .action-btn{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media(max-width:992px){
    .navbar .links,
    .navbar .action_btn 
    {display: none;
    }
    .navbar .toggle_btn{display: block;}
    .dropdown_menu {display: flex;}

}
@media(max-width:567px){
    .dropdown_menu{
        left: 2rem;
        width: unset;
    }


}