body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
  }
 
.cimke{
  margin: 5px;
  font-size: 75%;
  font-family: "Montserrat Subrayada", sans-serif}
.cimke2{font-family: 'Times New Roman', Times, serif; font-size: 85%;}
  .gold{color: gold};


  .container {
    min-width: 50%;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .category, .subcategory, .subtopic, .question {
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease, border 0.3s ease;
  }
  
  .category:hover, .subcategory:hover, .subtopic:hover, .question:hover {
 
    box-shadow: 0px 0px 10px 2px #00000052;
  }
  
  .hidden {
    display: none !important;
  }
  
  .fade-in {
    animation: fadeIn 0.5s forwards;
  }
  
  .fade-out {
    animation: fadeOut 0.5s forwards;
  }
  
  #container {
    transition: opacity 0.5s ease-in-out; /* Átlátszóság átmenet */
    opacity: 1; /* Alapértelmezett láthatóság */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  .menu{align-content: center;}
#ertekelesek{    
  align-content: center;
  justify-content: center;
  align-items: center;}
  
  #fo_kategoriak, #al_kategoriak, #alt_temak, #kerdesek {
    margin: 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
  }
    #alt_temak, #kerdesek{margin: 0px auto;
        border: 1px solid, lightslategrey;
        border-radius: 5px;
        border-bottom: transparent;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        background:  #ffffffd6;
        width: 75%;}
        #alt_temak{
        }
        #kerdesek{
            border-top: transparent;
            border-top-left-radius: 0px;
            border-top-right-radius: 0px;
            border-bottom:1px solid lightslategrey; ;
        }

  .fo, .al {    
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: center;
    justify-content: center;
    margin: 35px;
    padding: 0px;
    height: 250px;
    width: 250px;
    border: none;
    border-radius: 30px;
    font-size: 160%;
    font-weight: 900;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 2px 2px #f3f3f3c2;
    transition: all 0.3s;
  }
  .fo{margin: 0px 30px 25px 30px;}
  .fo.active{transition: all 0.3s;}
    .al{
        align-content: center;
        margin: 10px;
        height: 150px;
        width: 150px;
        font-size: 130%;
        font-weight: 600;
        transition: all 0.3s;
    }
    .alkerdeskont{margin-top: 20px;}
    #kerdesek .kerdesmodul .question .alkerdeskont.hidden{margin-top: 0px;}
        .alal{
            display: flex;
            margin: 5px 10px;
            height: 20px;
            align-items: center;
            width: fit-content;
            font-family: auto;
            border: 1px solid #cbcbcba8;
            border-radius: 5px;
            text-align: center;
        }
            .alal:hover{box-shadow: 0px 0px 2px 1px black; }

       .kerdesmodul, .question-container{
        display: flex;
        flex-direction: column;
        width: 100%;
       }     
       .alkerdes-tartaly{margin-top: 10px;}
       .question-container{width: 95%;}
        .question{
            width: 95%;
            cursor: default;
            font-family: 'Times New Roman', Times, serif;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            margin: 2px;}
        .question:hover{transform: scale(1); box-shadow: inset 0px 0px 2px 1px black; }

  .active {
    transition: width 0.5s;
    width: 95%;
    height: fit-content;
    margin: 5%;
    border-radius: 10px;
  }
  .active .leiras{    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

  }

  .passive { 
    box-shadow: none;
    transition: transform 2s, opacity 1s, height 5.5s;
    transform: scale(0.1);    
    opacity: 0;
    width: 0%;
    height: 0%;
    overflow: hidden;
    position: absolute;
  }
  .active.fo{margin: 2% 35px;}
  .active.al{width: 75%; margin:0%; border-radius: 5px;}
  .active.alal{width: fit-content; margin: 5px 10px 0px 10px; box-shadow: inset 0px 0px 1px 2px grey;}
  .passive.alal{display: flex;opacity: 0.5;position: relative;transform: scale(1); overflow:visible;width: fit-content;margin: 5px 10px 0px 10px;}
  .passive.alal:hover {opacity: 1;border-color: black;}

  
  .cim {
 
    display: flex;
    height: 65%;
    align-items: center;
    margin: 0px 5px;
  }
  
  .leiras {    
    display: flex;
    font-family: auto;
    color: black;
    font-weight: 600;
    margin: auto;
    font-size: 60%;
    background-color: white;
    height: 35%;
    width: 100%;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-block-start: auto;
    justify-content: center;
    align-items: center;
  }

.kerdesmodul, .csuszka, .csuszka2{
  display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}


  /* Csúszka */

  .csuszka, .csuszka2 {
    border-left: 2px solid yellowgreen;
    border-radius: 20px;
    border-right: 2px solid crimson;
  }
    .csuszka{
      border-right-color: silver;
      margin-right: 15px;
      padding-right: 5px;}



.labeligen, .labelnem, .labelures, .labeligen2, .labelures2{
  margin: 5px 0px;
/*   z-index: 50;
 */  width: 35px;
  height: 1px;
  display: flex;
}

  .labeligen{   
    margin-left: 5px;
   background-color: yellowgreen;
    justify-content: flex-end;
    box-shadow: 0px 0px 1px 1px yellowgreen;
  }
      .labeligen2{   
        margin-left: 5px;
      background-color: yellowgreen;
        justify-content: flex-end;
        box-shadow: 0px 0px 1px 1px yellowgreen;}
  .labelnem{    
    margin-right: 5px;
    background-color: crimson;
    justify-content: flex-start ;
    box-shadow: 0px 0px 1px 1px crimson;
   }
  .labelures{
    background-color: silver;
    justify-content: center;
    box-shadow: 0px 0px 1px 1px silver;
  }
      .labelures2{
        background-color: silver;
                justify-content: center;
        box-shadow: 0px 0px 1px 1px gray;
      }

    .nem, .igen, .ures,.igen2, .ures2{ 
      cursor: pointer; 
      opacity: 0;
      position: absolute;
      width: 21px;
      height: 21px;
      margin-top: -10px;}
      .igen{margin-right: 15px; width: 30px;}
      .ures{margin-left: 15px; width: 30px;}

      .gomboc{
        cursor: pointer;
        width: 25px; 
        height: 25px;
        background-color: transparent;
        box-shadow: inset 0px 0px 3px 1px grey;
        border-radius: 5px;
        z-index: 10; 
        position: absolute;
        transform: rotate(45deg);
        transition: transform 0.5s, box-shadow 0.5s;
      }
      .csuszka .gomboc{transform:translate(35px, 0px) rotate(45deg);}

      .gomboc:hover {transform: rotate(360deg);}
      .csuszka .gomboc:hover{transform:translate(35px, 0px) rotate(360deg);}

      #main-container {
        width: 100%;
        min-width: 100%;
        padding-top: 25px;
        padding-bottom: 25px;

        display: flex;
        justify-content: center;
        flex-wrap: nowrap;
        flex-direction: row;
        position: relative; /* Szükséges a pseudo-element pozícionálásához */
        overflow: hidden; /* Az esetleges kilógó pseudo-element elrejtésére */
    border-radius: 15px;    
    box-shadow: 3px 3px 12px 0px #ff98009e;
     background-color: rgba(0, 0, 0, 0.33)
      }
        #main-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-shadow:  0px 0px 6px 0px;
        border-radius: 15px;
/*           backdrop-filter: blur(2.2px);
 */        will-change: transform; /* Optimalizáció */
        z-index: -1; /* A blur a tartalom mögött legyen */
    }

    

  .ikontarto{
    padding: 6px;
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 1px solid orangered;
    border-radius: 10px;
  }
  .nezet{transition: all 0.3s;}
.nezetkocka1, .nezetkocka2,.iksz{
  border: 1px solid orangered;
  width: 10px;
  height: 10px;
  padding: 5px;
  margin: auto 5px;
  transition: 0.3s all;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;

}
.nezetkocka1{
  margin-right: 0px;
  margin-left: 2.5px;
  border-right: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.nezetkocka2{
  margin-left: 0px;
  border-left: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
}
.nezet2 {display: flex;}
    .nezet2 .nezetkocka2 { border-left: 2px black dashed;}
    .iksz{
      text-shadow: 1px 0px orange;
      display: flex;
      text-align: center;
      color: #ff9800;
      font-family: cursive;
      justify-content: flex-end;
      align-items: center;}
      .pdfb{  
        display: none;  padding: 0px;
        margin: auto 5px;
        transition: all 0.3s;
        border: none;
        background: transparent;
        transform: scale(1.7);
        cursor: pointer;
        margin-right: 10px;
        font-size: smaller;
      }
      .pdfb:hover{scale: 1.2;}

    .nezet:hover,.nezet2:hover,.iksz:hover{scale: 1.1;}


      #keszulo {
        transition: width 0.5s ease-in-out; /* Szélesség átmenet */
        flex-direction: column-reverse;
        font-family: 'Times New Roman', Times, serif;
        padding: 20px;
        background-color: #fff;
       display: none;
        flex-direction: column-reverse;
        width: 50%;
        height: fit-content;
        margin: 0px 25px;
        border-radius: 15px;
        position: relative;
      }
      
      .kerdes{display: flex; margin: 0px; flex-wrap: wrap;}
      #ertekelesek-container p {
        margin: 5px 3px;
      
      }
    
      #ertekelesek-container.pdf{
        position: absolute;
        width: 90%;
        min-height: 1000px;
        z-index: 100;
        background: white;
      }
 
 .alt-tema{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
 }

 .alt-tema h5{margin: 0px 10px;}
 .fokerd{ margin: 5px 2px;}
 .alkerd{ font-style: italic;}

 
 #tajcim{text-transform: uppercase; display: flex;}
 
 .mertekegyseg{width: 35px;}


.full-width {
  width: 100%;
}
.al-kategoria {padding-left: 10px;}
.alt-tema{margin-left: 15px;}
.alt-tema h5{     font-size: 100%; margin-left: -5px;}
h3{text-align: center; font-size: 140%;}
.fo-kategoria{    border-left: 1px solid black;
  border-top-left-radius: 15px;}
h4 {font-size: 115%;}

.fej2{
  display: flex;
    justify-content: space-around;
    font-style: italic;
}
.fej1{
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0px;
}
@media print {
  .no-print {
    display: none; /* Elrejti az elemeket nyomtatáskor */
  }
}

.szalag{margin-top: 15px;}

#ertekelesneve{
  font-size: larger;
  font-family: arial;
  font-weight: bolder;
  text-align: center;
  margin-bottom: 25px;
  color:rgb(238 238 238)
}