  @media (max-width: 900px) {
      .layout {
    grid-template-columns: 1fr;
     grid-template-areas:
    "c"
    "a"
    "b";
    margin: 0vh;
    gap: 1vh;
    min-height: 100vh; /* height: 100vh helyett! */
        width: calc(100% - 2vh);
  }
  #ai-btn-close{
        margin: 0px;
    width: fit-content;

  }
  .description22,.description23{
    flex-direction: column !important;}
    .logi{    width: fit-content;}
  .ai{
    flex-wrap: wrap;
  }
  #minden-log-container{width: 100%;}
  #ai-modal-title{font-size: medium;}
/*   html, body {
    max-width: 100vw;
    overflow-x: hidden;
} */
  #egyik, #masik{font-size: smaller;}
  .savdiv{height: fit-content;}
    #men{margin: auto;}
    .meglevok{width: 20vh; height: 20vh;     font-size: 80%;
      font-family: auto;}
    .savdiv{width: 20vh; height: 5vh;}
    .sharing .inek {height: 50%;
      width: 100%;flex-direction: column;     justify-content: space-around !important;}
      #kuldendo {        width: 90%;
        height: fit-content;
        padding: 4px;
        margin: auto;
        border-radius: 7px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(75px, 1fr));
        gap: 5px;
        }
        .main{width: 100%;}
#keszulo{        margin-top: -10px !important;}
        #kuldendo span {font-size: 70%; color: #ff7207; font-style: italic;}
        .oldDiv, .newDiv{ min-height:25px;  display: flex; font-size: x-small !important; padding: 2px !important; margin: 0px !important;
              flex: 5 1 !important; max-width: 95px; align-items: center;}
        #uj4{width: 100%;}
    
        .sharing {
          flex-wrap: wrap;}
          #add, #add2 {
          font-size: small !important;}
          #mail{font-size: 65%;padding: 0px;}
          #nevet{ padding: 10px 5px 0px 5px;   margin: 0px 5px 0px 0px;}
          .sharing .inek div{margin: 0px;}
    .info{display: none !important}
    .holvagyok{width: 100% !important;}
        #legordulo2 select{font-size: x-small; width: 110px};
#stat-info-box{font-size: smaller;}
.swicsi {font-size: x-small; margin-left:15px;    text-align: right !important;}
    .mobi{
    width: 90% !important;
    justify-content: center !important;}
    #nevet select{ width: 100%; font-size: small;}
    #nevet, #legordulo2 {justify-content: space-between;}
    .logo{display: none;}
    #felbukkano,#felbukkano2,#felbukkano3,#felbukkano4{  
    height: 100vh;
    width: 100%;
    margin: 0%;}
    #tomlo{margin-bottom: 1vh;}
    .szin-kocka{    width: 19px;
    height: 19px;}
    #go button {height: 30px; margin: auto; font-size: small};
    .meglevok{width: 15vh;
      height: 15vh;}
      #uj{width: 100%;}
      #go label {     font-size: x-small;}
      #msg{
        right: 0%;
        bottom: 0%;
        height: 15%;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-wrap: nowrap;
        
        align-content: space-between;      align-content: flex-start;
        border: none;
        border-radius: 12px;}
        #msg label{font-size: x-small !important; height: 10px;  padding: 5px;  font-family: 'Times New Roman', Times, serif;           width: 120px;}
        #msg div{flex-direction:row}
        .sharing .gyikvalasz p {    font-size: small;
    margin: 5px;
    width: 90%;
}
.inner-div{
justify-content: space-evenly !important}
#inner-share-select2{width: 100%; font-size: small;}
        #msg input {
          height: 15px;
          width: 15px;
      }#msgtxt {        width: 275px !important;
        height: 70px !important; font-size: small; }
#hiddenmsg{height: fit-content;
  text-align: center;
  font-size: x-small;
  width: 140px;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 7px;
  height: 10px;
  padding: 5px;
  font-weight: normal !important;
;}
      #ujinek2 .inek div{margin: 5px;}
      #go2 button{width: 75%;
        height: 40px;}
        .ex, .ex2{    margin: 0px !important;
          font-size: xx-small !important;
          border: none !important;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 5px !important;
          padding: 2px;
          position: absolute !important;
          top: -5px;
          height: 5px !important;
          right: -5px;
          color: #ffffff !important;
          background: #004e00 !important;
          font-weight: bolder !important;
          font-family: arial !important;
          border-radius: 50px !important;}
          .ex2 {          background: #ff6a00 !important;
          }
          .fo{font-size: small !important;}
#felbukkano5{ 
  flex-direction: column;
}
.szemegy {
    width: 100%;
    margin-top: 10%;
}
#maininf {
    width: 100% !important;
    margin-top: 15px !important;
        background: white !important;
        border-radius: 15px;
}

.kozep{height: fit-content !important;}
.kozepc{height: fit-content !important;
        padding: 2% 0%; margin-right: 0px;}
        .kozepc div{justify-content: flex-start; width: 100% !important;}
    .sidebar .sidebar-header{margin-top: 0px;}
    .picik{flex-direction: column;}
.gomb{width: 16vh; height:5vh;margin: auto; font-size: smaller;}
.sidebar{position: fixed;} 
.udv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    height: 5vh;
    justify-content: center;}
.munka{flex-direction: column;}
.olvaso{width: 100%; height: 85%;justify-content: space-evenly; }
.felso{flex-direction: row-reverse; padding-bottom: 20px;
 height: 15% !important;
align-items: center; width: 96%;
}
#lapozo{margin-top: 50px;}
.search-bar{height: 35px !important; font-weight: normal; font-size: smaller;
   }.modulebutt{font-size: small;padding: 2px;
}
.search-input
{width: 65px;}
.logo{margin: 10px; font-size: small; font-weight: normal;}
.modulebutt .material-symbols-rounded {font-size: 80%;}
#lapok{width: 100%; margin-top: -3vh;}
.sta,.grap, .gyik{ font-size: small;}
.modules {
    gap: 5px;
    margin: 0px 0vh;}
.meglevok .cheking {width: 15px;
    height: 15px;}
    input[type="checkbox"]:checked::after {
        top: 1px;
    width: 3px;}
    .outer-div{height: 100%;}

.gomb .cim {padding: 0px; font-size:small !important; border-radius: 5px;}
.sta{    text-align: center;
}
      #pergo-container{  font-size: small;
}
#extremeBox{flex-direction: column !important; gap:0px}
#szumm-chart-container div{display: flex; gap: 16px;align-items: stretch;}
#magyarazat{flex-direction: column !important;}
.savos{     
        display: flex;
        gap: 1vh;
        height: fit-content;
        padding: 0px;
        background: #ff825766;
        position: sticky;
        top: 60px;
        padding-top: 2%;
        z-index: 50;
        backdrop-filter: blur(7px);

}
.gomb .cim.dobaktiv {
    
    background-color: #ff9800;}
    .gomb .cim{        border: 2px solid #ffffff;}
#ertekek, #accunt2 {
    flex-direction: row; justify-content: space-evenly;}
    #triggerText {display: none;}
    .custom-dropdown{position: relative !important; top:0; width: fit-content; margin: 0;
    position: absolute; }
    .dropdown-trigger{width: fit-content;}
#ertekek0{ grid-area: a;}
#ujert0{ grid-area: c;}
#accunt0{grid-area: b;}
#hozzaj0{grid-area: d;}
  .modulebutt .material-symbols-rounded{
display: none};

#accunt0{display: none;}
.arrow{ color: #ffeede;}
 .description2 span{font-size: small;}   .grid-layout {
      padding: 3vh;
        grid-template-columns: 1fr 1fr;
    }
    
    .narancsinfo{width: 20%;}
    .narancsinfo svg{scale: 2 !important;}
    .feherinfo{width: 90%;}
    .main-title {
            height: 100%;
    margin-right: 0vh;
        grid-column: 1 / 4;
        font-size: 3rem;
        text-align: center;
    }
    .main-title span {
    font-size: 75%;
}
    .description {
        grid-column: 1 / 4;
        grid-row: auto;
    }
    .card{font-size: xx-large; display: flex; flex-direction: row; justify-content: space-evenly;}
    .card-text-container {width: 50% !important;}
    .description ul{font-size: small;}
    .growth { 
        grid-column: 1 / 4;
        grid-row: auto;
    }
    .cta-container {
        grid-column: 1 / 3;
        grid-row: auto;
    }
    .analysis{    grid-column: 1 / 4;
}
.also{margin: 2%;}
    .goals{grid-row:6;grid-column: 1 / 4;} 
    .dashboards{    grid-column: 3 / 3;
    grid-row: 7 / 8;
}
.growth2 {
        grid-row: 3 / 4;
    grid-column: 1 / 5;

}
.card .default-text{font-size: medium !important;}
.dashboards2 {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
}  
.goals2 {
          grid-column: 1 / 5;
        grid-row: 5 / 5;
}
.card .icon {
    scale: 1.5;}

    #gykerdesek{width: 100%;}
}

@media screen and (min-width: 905px) and (max-width: 1180px) {
 .description, .description2 {
    grid-column: 1 / 5;}
.growth{display: none;}
.goals{
    grid-column: 3 / 5;
    grid-row: 3;
}
.goals .icon, .dashboards .icon, .dashboards2 .icon{margin-bottom: 8px;}
.goals2{        grid-column: 2 / 4;}
}